#content{
  flex: 1;
  /* min-width: 400px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
  /* margin: 0 auto; */
  /* width: 750px;
  height: 735px; 
   background-image: url(../../assets/map_bc_1.png);
  background-position: center;
  background-size: contain;;
  background-repeat: no-repeat; */

}

#content canvas{
  position: absolute;
}
#content .centroid {
    display: none;
  }
  
  #content .centroid circle {
    fill: red;
  }

.point-container{
  position: absolute;
}

.point-container img{
  position: absolute;
}
  